<div class="carousel">
    <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("landing_image.jpg", class: "landing-image") %>
		    <div class="container">
			    <div class="row" id="how_it_works_row">
			        <div class="col-xs-12">
			            <div class="text-center" id='how_it_works'>
	        	          <%= image_tag("logo_home.png") %>
			              <h2>The easiest way to search domestic flights</h2>
			          	</div>
			        </div>  
			    </div>
			</div>
	    </div>
	</div>
</div><!-- /.carousel -->
 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">


      <!-- START THE FEATURETTES -->

      <div class="row featurette">

        <div class="col-xs-7">
          <h4 class="featurette-heading">1. Search for a flight<span class="text-muted"><br></span></h4>
          <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
        </div>
        <div class="col-xs-5">
           <%= image_tag("singapore_skyline.jpg",class:"img-circle img-feature" ) %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
         <%= image_tag("singapore_skyline.jpg",class:"img-circle img-feature" ) %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">2. Browse flight results and adjust search options</h2>
          <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
        </div>     
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">

        <div class="col-xs-7">
          <h4 class="featurette-heading">3. Buy tickets and see additional deals!<span class="text-muted"><br></span></h4>
          <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
        </div>
        <div class="col-xs-5">
           <%= image_tag("singapore_skyline.jpg",class:"img-circle img-feature" ) %>
        </div>
      </div>
  </div>