    <div class="carousel">
      <!-- Indicators -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("landing_image.jpg", class: "landing-image img-responsive") %>
          <div class="container">
            <%= form_for @flight_search do |f| %>
            <div class="row" id="flight_search">
              <div class="col-xs-4">
                <div class="thumbnail flight-search-thumbnail">
                  <div class="caption">
                    <h3>Flight Destinations</h3>
                    <div class="control-group flight-dates">
                      <%= f.label :departure, "Departure", class: "control-label" %>
                      <div class="controls">
                        <div class="input-group">
                          <span class="glyphicon glyphicon glyphicon-transfer input-group-addon"></span>
                          <%= f.text_field :departure, value: nil, class: "form-control" %>
                        </div>
                      </div> 
                    </div>
                    <div class="control-group flight-dates">
                      <%= f.label :arrival, "Arrival", class: "control-label" %>
                      <div class="controls">
                        <div class="input-group">
                          <span class="glyphicon glyphicon glyphicon-transfer input-group-addon"></span>
                          <%= f.text_field :departure, value: nil, class: "form-control" %>
                        </div>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail flight-search-thumbnail">
                  <div class="caption">
                    <% fmt = "%m/%d/%Y" %>
                    <% today = Date.today %>
                    <h3>Flight Dates</h3>
                    <div class="control-group flight-dates">
                      <%= f.label :flight_start, "Date of Departure", class: "control-label" %>

                      <div class="controls">
                        <div class="input-group">
                          <span class="glyphicon glyphicon-calendar input-group-addon"></span>
                          <%= f.text_field :flight_start, value: nil, class: "flight-date form-control" %>
                        </div>
                      </div> 
                    </div>
                    <div class="control-group flight-dates flight-search-thumbnail">
                      <%= f.label :flight_end, "Date of Return", class: "control-label" %>
                      <div class="controls">
                        <div class="input-group">
                          <span class="glyphicon glyphicon-calendar input-group-addon"></span>
                          <%= f.text_field :flight_end, value: nil, class: "flight-date form-control" %>
                        </div>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail flight-search-thumbnail">
                  <div class="caption">
                    <h3>Passengers 
                      <span class="glyphicon glyphicon-user"></span>
                    </h3>
                    <div class="control-group passenger-controls">
                      <%= f.label :adults, "Adults", class: "control-label" %>
                      <p>12+</p>
                      <div class="controls">
                        <div class="input-group">
                          <%= f.select :adults, 0..7, {:selected => nil}, {class: "styled-select" } %>
                        </div>
                      </div> 
                    </div>
                    <div class="control-group passenger-controls">
                      <%= f.label :children, "Children", class: "control-label" %>
                      <p>2-12</p>
                      <div class="controls">
                        <div class="input-group">
                          <%= f.select :children, 0..7, {:selected => nil}, {class: "styled-select" } %>
                        </div>
                      </div> 
                    </div>
                    <div class="control-group passenger-controls">
                      <%= f.label :infants, "Infants", class: "control-label" %>
                      <p>0-2</p>
                      <div class="controls">
                        <div class="input-group">
                          <%= f.select :infants, (0..4), {:selected => nil}, {class: "styled-select" } %>
                        </div>
                      </div> 
                    </div>
                    <div class="control-group">
                      <button href="#" class="btn btn-primary" id="search" role="button"><span class="glyphicon glyphicon-search"></span> SEARCH</button>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- end row-->
            <% end %>
            <div class="row">
              <div class="col-xs-12">
                <div class="text-center landing-signup">
                  <h1>Evolve Travel</h1>
                  <h2>Sign up now for cheap airfares and hotel deals.</h2>
                  <div class="input-group col-lg-4 col-lg-offset-4">
                    <input type="text" class="form-control" placeholder="john@example.com">
                    <span class="input-group-addon signup-addon">GO</span>
                </div>
              </div>
            </div>  
          </div>
        </div>
    </div>
  </div><!-- /.carousel -->
 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
         <%= image_tag("bangkok_elephant.jpg",class:"img-circle img-landing" ) %>
          <h2>Easy Comparisons</h2>
          <p>See prices and schedules side by side.<br>All domestic filipino flights are listed along with thousands of local hotels</p>
          <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("family_backpack.jpg",class:"img-circle img-landing" ) %>
          <h2>Best Deals</h2>
          <p>Find the best deals and promotions on here so you can save for other things!</p>
          <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("singapore_skyline.jpg",class:"img-circle img-landing" ) %>
          <h2>Domestic-International</h2>
          <p>We cover both domestic Philippines and international flights and hotels<br></p>
          <p><a class="btn btn-default" href="#" role="button">Plan tours &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">

        <div class="col-md-7">
          <h2 class="featurette-heading">"The best and easiest way to find flights and hotels in the Philippines.  Evolve Travel helped focus my time on what was important - enjoying our holiday!"<span class="text-muted"><br> - Jennfier, UK</span></h2>
          <p class="lead">Jennifer Torres</p> <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
        </div>
        <div class="col-md-5">
           <%= image_tag("singapore_skyline.jpg",class:"img-circle img-feature" ) %>
        </div>
      </div>

<!--       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
         <%= image_tag("singapore_skyline.jpg",class:"img-circle img-feature" ) %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Launching first in Hong Kong.<br>12 cities planned for 2014.<br><span class="text-muted">Traveling there won't be the same again.</span></h2>
          <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
        </div>     
      </div> -->

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
     

    </div><!-- /.container -->
</div>

<script>
$(document).ready(function() {
  $('.flight-date').datepicker({autoclose: true, format: 'mm/dd/yyyy'});
});
</script>


