    <div class="carousel">
      <!-- Indicators -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("landing_image.jpg", :class => "landing-image img-responsive") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Evolve Travel</h1>
              <p>The authentic local experience</p>
              <p>Sign up now to get your first tour for free.</p>
              <div class="input-group col-lg-4 col-lg-offset-4">
                <input type="text" class="form-control">
                <span class="input-group-addon signup-addon">GO</span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div><!-- /.carousel -->
 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
         <%= image_tag("bangkok_elephant.jpg",class:"img-circle img-landing" ) %>
          <h2>Local Guides</h2>
          <p>Tour with the best local guides available.<br>Only the best and most passionate guides are listed here.</p>
          <p><a class="btn btn-default" href="#" role="button">Find guides &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("family_backpack.jpg",class:"img-circle img-landing" ) %>
          <h2>Different Perspective</h2>
          <p>Not sure how to spend your precious vacation time? We'll take care of that for you.  Our guides will offer you insider information on the hottest and most fun spots in town.</p>
          <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("singapore_skyline.jpg",class:"img-circle img-landing" ) %>
          <h2>Custom Tours</h2>
          <p>Seamless communication with your tour guide.  We're here to empower your travel experience by offering you insider information on the hottest and most fun spots in town.<br></p>
          <p><a class="btn btn-default" href="#" role="button">Plan tours &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">

        <div class="col-md-7">
          <h2 class="featurette-heading">"The best and easiest way to get to know Bangkok.  Ryan helped me to focus my time on what was important.  Our family is extremely grateful for this service!"<span class="text-muted"><br> - Jennfier, UK</span></h2>
          <p class="lead">Jennifer traveled with her family of four and was toured by Ryan Torres.  She had nothing short of an amazing time.</p> <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
        </div>
        <div class="col-md-5">
           <%= image_tag("singapore_skyline.jpg",class:"img-circle img-feature" ) %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
         <%= image_tag("singapore_skyline.jpg",class:"img-circle img-feature" ) %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Launching first in South-East Asia. <span class="text-muted">Traveling there won't be the same again.</span></h2>
          <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
        </div>     
      </div>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
     

    </div><!-- /.container -->
</div>


