<!DOCTYPE html>
<html>
<head>
    <title>Friends</title>
    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,200italic,400italic,600italic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"           content="Jonathan Lau"/>
    <meta name="designer"         content="Jonathan Lau"/>
    <meta name="copyright"          content="Copyright Evolve &copy;2013"/>
    <%#= favicon_link_tag 'favicon.ico' %>
    <%#= display_meta_tags :site => 'Code' %>
</head>
<body>
  <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div class="container footer-fix">
		<div class="row">
		    <div class="span12">
		    <% [:notice, :error, :alert].each do |level| %>
		      <% unless flash[level].blank? %>
		        <div class="alert <%= flash_class(level) %>">
		          <a class="close" data-dismiss="alert">×</a>
		          <%= content_tag :p, flash[level] %>
		        </div>
		      <% end %>
		    <% end %>
		    </div>
		</div>
	    <%= yield %>
	 </div>
  <div class="navbar-fixed-bottom navbar footer">
      <div class="container">
          <ul class ="footer-ul nav span12">
            <!-- <li><a href="#"><small>Terms of Service</small></a></li>
            <li><a href="#"><small>Privacy</small></a></li> -->

          </ul>
          
          <div class="span3 footer-image"></div>
          <div class="span4">
            <h5 class="copyright"></h5>
          </div>    
      </div>
  </div>
  <script type="text/javascript">

  </script>
</body>
</html>
